RESEND_API_KEY=tu_wklej_klucz_resend
CONTACT_NOTIFICATION_EMAIL=cisza.umyslu@gmail.com
ORDER_NOTIFICATION_EMAIL=cisza.umyslu@gmail.com
ORDER_REPLY_FROM=Zamówienie książek <onboarding@resend.dev>
BANK_ACCOUNT_NUMBER=51 1140 2004 0000 3902 5119 5054
BANK_ACCOUNT_OWNER=Ryszard Klein
PORT=3000
